[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
langchain = "*"
faiss-cpu = "*"
langchain-community = "*"
langchain-openai = "*"
openai = "*"
tiktoken = "*"
load-dotenv = "*"
mlflow = "*"
dagshub = "*"
evaluate = "*"
transformers = "*"
textstat = "*"

[dev-packages]

[requires]
python_version = "3.11"
